# 忽略数据集文件夹
Dataset/
data/
iterative_results/
CC/Step0/Experiments/
result/
*.txt
*.pth
*.ckpt
*.csv
*.fasta
*csv

# 忽略 Python 编译缓存
__pycache__/
*.pyc


# 忽略日志和临时文件
*.log
.DS_Store
.ipynb_checkpoints/
venv/

#忽略真实数据和压缩包
*.gz


